@import '../../../styles/variables-and-helpers';

.WeatherForecasts {
  display: flex;
  flex-direction: column;
  padding: $page-padding;
  max-height: 100vh;

  &__header {
    z-index: 3;
    margin: 0 !important;
    padding: 0 0 $page-padding;
    background: $colour-white;
  }

  &__locations {
    flex: 1 1 auto;
    margin: -1em 0 0;
    overflow: auto;
  }
}
