@import '../../../styles/variables-and-helpers';

.TodaysEvents {
  &__event {
    margin: 0 0 1em;
  }

  &__no-events {
    color: $colour-text-secondary;
  }
}

.Event {
  padding: 1em;
  border-left: 1em solid $colour-red;
  border-radius: 0.5em;
  background: $colour-alabaster;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);

  &__title {
    @include font-size('fs-l');
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__times {
    color: $colour-text-secondary;
  }

  &__location,
  &__travel-time {
    color: $colour-text-ternary;
    font-size: 0.8em;

    p {
      margin: 0 0 0.15em;
    }
  }

  &__travel-time {
    margin: 0.5em 0 0;
    color: $colour-text-secondary;
  }
}
