@import '../../../styles/variables-and-helpers';

.CalendarEvent {
  display: flex;
  flex-direction: column;
  padding: $page-padding;
  min-height: 100vh;

  &__card {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 0.5em;
    background: $colour-alabaster;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
  }

  &__left {
    flex: 1 1 50%;
  }

  &__time {
    padding: $page-padding;
    background: $colour-red;
    color: $colour-white;
    text-shadow: 0 1px 5px rgb(0 0 0 / 30%);
  }

  &__details {
    padding: $page-padding;
  }

  &__location {
    margin: 0 0 $page-padding;

    p {
      margin: 0 0 0.2em;
    }
  }

  &__travel-time {
    color: $colour-text-secondary;

    p {
      margin: 0 0 0.2em;
    }
  }

  &__map {
    flex: 1 0 50%;
    height: inherit;
    overflow: hidden;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
}
