@import '../../../../../styles/variables-and-helpers';

.WeatherForecastNavigation {
  display: flex;
}

.WeatherDay {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0.6rem;
  border: 1px solid $colour-concrete;
  background: $colour-alabaster;

  &:first-child {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  &:last-child {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }

  &:not(:last-child) {
    border-right: none;
  }

  &--current {
    background: $colour-white;
  }

  &__date {
    font-size: 0.6rem;
    font-weight: bold;
  }

  &__temps {
    display: flex;
    align-items: flex-end;
  }

  &__max-temp {
    margin: 0 0.2em 0 0;
  }

  &__min-temp {
    color: $colour-text-ternary;
    font-size: 0.9em;
  }

  &__sunrise-sunset {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 0;
    font-size: 0.7em;
  }

  &__sunrise-sunset-title {
    margin: 0 0 0.2em;
    font-size: 1.1em;
  }

  &__icon {
    display: inline-block;
    align-self: center;
    font-size: 2rem;
  }
}
