.WeatherSky {
  &:host {
    background: #111111;
  }

  &__day,
  &__night,
  &__sunrise {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
  }

  &__day {
    background: linear-gradient(
      to top,
      rgb(249 251 240 / 100%) 10%,
      rgb(215 253 254 / 100%) 20%,
      rgb(167 222 253 / 100%) 40%,
      rgb(110 175 255 / 100%) 100%
    );
  }

  &__sunrise {
    background: linear-gradient(to top, rgb(212 87 43 / 90%) 0%, rgb(246 149 52 / 80%) 20%, rgb(24 75 106 / 0%) 100%);
  }

  &__night {
    background: linear-gradient(to top, rgb(57 167 255 / 20%) 0%, rgb(13 98 245 / 20%) 20%, rgb(0 11 22 / 10%) 60%);
  }
}
