<home-hub-weather-sky
  class="Weather__sky"
  [time]="timeService.now$ | async"
  [twilightBegin]="(currentWeather$ | async)?.twilightBegin"
  [sunrise]="(currentWeather$ | async)?.sunrise"
  [noon]="(currentWeather$ | async)?.noon"
  [sunset]="(currentWeather$ | async)?.sunset"
  [twilightEnd]="(currentWeather$ | async)?.twilightEnd"
></home-hub-weather-sky>

<div class="Weather__card">
  <h2 class="Weather__place">{{ (currentWeather$ | async)?.name }}</h2>

  <home-hub-weather-icon
    class="Weather__animated-icon"
    [weatherCode]="(currentWeather$ | async)?.weatherCode"
    [displayTime]="timeService.now$ | async"
    [sunrise]="(currentWeather$ | async)?.sunrise"
    [sunset]="(currentWeather$ | async)?.sunset"
  ></home-hub-weather-icon>

  <div class="Weather__summary">
    <div class="Weather__summary-left">
      <h3 class="Weather__temperature">{{ (currentWeather$ | async)?.temperature | number : '1.0-0' }}°</h3>
      <h4 class="Weather__description">
        {{
          (currentWeather$ | async)?.weatherCode
            | weatherDescription : (currentWeather$ | async)?.sunrise : (currentWeather$ | async)?.sunset : (timeService.now$ | async)
        }}
      </h4>
    </div>
    <table class="Weather__table">
      <tr>
        <td [icon]="Icon.Umbrella" [iconClass]="'Weather__icon'"></td>
        <td>{{ (currentWeather$ | async)?.precipitationProbability }}%</td>
      </tr>
      <tr>
        <td [icon]="Icon.Sunrise" [iconClass]="'Weather__icon'"></td>
        <td>{{ (currentWeather$ | async)?.sunrise | date : 'HH:mm' }}</td>
      </tr>
      <tr>
        <td [icon]="Icon.Sunset" [iconClass]="'Weather__icon'"></td>
        <td>{{ (currentWeather$ | async)?.sunset | date : 'HH:mm' }}</td>
      </tr>
    </table>
  </div>
</div>

<home-hub-weather-now class="Weather__now" [currentWeather$]="currentWeather$"></home-hub-weather-now>
