@import '../../styles/variables-and-helpers';

.Weather {
  position: relative;

  &__sky {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100vh;
    color: #fff;
    padding: $page-padding;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  }

  &__animated-icon {
    position: absolute;
    align-self: center;
    font-size: 40vw;
  }

  &__summary {
    display: flex;
    justify-content: space-between;
  }

  &__place,
  &__temperature,
  &__description {
    margin: 0;
    line-height: 1;
  }

  &__place {
    font-size: 1rem;
  }

  &__temperature {
    font-size: 5rem;
  }

  &__table {
    text-align: right;
  }

  &__now {
    padding: $page-padding;
  }

  &__icon {
    margin: 0 0.25em 0 0;
    filter: drop-shadow(0 1px 3px rgb(0 0 0 / 0.3));
  }
}
