p {
  > label {
    display: block;
    margin: 0 0 0.25em;
  }

  > input {
    display: block;
    padding: 0.3335em;
    line-height: 1;
    border: 1px solid $colour-concrete;
    border-radius: 0.3em;
    font-size: 1rem;
  }
}
