<h2>Weather now</h2>
<div class="WeatherNow__grid">
  <table>
    <tr class="WeatherNow__row">
      <td class="WeatherNow__cell">
        <div class="WeatherNow__icon">°C</div>
      </td>
      <td class="WeatherNow__cell">
        <p class="WeatherNow__label">Feels like</p>
        <p>{{ (currentWeather$ | async)?.feelsLikeTemperature | number : '1.0-0' }}°</p>
      </td>
    </tr>
    <tr class="WeatherNow__row">
      <td class="WeatherNow__cell">
        <div class="WeatherNow__icon">
          <home-hub-compass class="WeatherNow__compass" [direction]="(currentWeather$ | async)?.windDirection"></home-hub-compass>
        </div>
      </td>
      <td class="WeatherNow__cell">
        <p class="WeatherNow__label">Wind</p>
        <p>{{ (currentWeather$ | async)?.windSpeed | number : '1.0-0' }} mph</p>
      </td>
    </tr>
  </table>

  <table>
    <tr class="WeatherNow__row">
      <td class="WeatherNow__cell">
        <div class="WeatherNow__icon">UV</div>
      </td>
      <td class="WeatherNow__cell">
        <p class="WeatherNow__label">UV Index</p>
        <p>{{ (currentWeather$ | async)?.uvIndex === 0 ? '-' : (currentWeather$ | async)?.uvIndex }}</p>
      </td>
    </tr>
    <tr class="WeatherNow__row">
      <td class="WeatherNow__cell">
        <div class="WeatherNow__icon" [icon]="Icon.Wind" [iconClass]="'WeatherNow__wind'"></div>
      </td>
      <td class="WeatherNow__cell">
        <p class="WeatherNow__label">Wind Gust</p>
        <p>{{ (currentWeather$ | async)?.windGust | number : '1.0-0' }} mph</p>
      </td>
    </tr>
  </table>
</div>
