<legend class="Location__legend" *ngIf="label">{{ label }}</legend>

<div class="Location__fields">
  <p class="Location__field">
    <label [htmlFor]="'latitude-' + id">Latitude</label>
    <input
      [attr.id]="'latitude-' + id"
      type="number"
      [ngModel]="(value$ | async)?.latitude"
      (ngModelChange)="onLatitudeChange($event)"
      [min]="'-90.000000'"
      [max]="'90.000000'"
      [required]="required"
      [disabled]="disabled"
    />
  </p>

  <p class="Location__field">
    <label [htmlFor]="'longitude-' + id">Longitude</label>
    <input
      [attr.id]="'longitude-' + id"
      type="number"
      [ngModel]="(value$ | async)?.longitude"
      (ngModelChange)="onLongitudeChange($event)"
      [min]="'-180.000000'"
      [max]="'180.000000'"
      [required]="required"
      [disabled]="disabled"
    />
  </p>

  <button
    type="button"
    (click)="currentLocation()"
    [disabled]="disabled"
    [icon]="Icon.Crosshairs"
    [iconClass]="'Location__current'"
  ></button>

  <div class="Location__actions">
    <ng-content></ng-content>
  </div>
</div>
