@import '../../styles/variables-and-helpers';

.Home {
  display: flex;

  &__weather {
    width: 50%;
    height: 100vh;
    overflow: auto;
  }

  &__right {
    height: 100vh;
    padding: $page-padding;
    overflow: auto;
    text-align: right;
  }

  &__clock {
    height: 100vh;
    text-align: center;
    font-variant-numeric: tabular-nums;
  }

  &__date {
    font-size: 45px;
    color: $colour-text-secondary;
  }

  &__time {
    font-size: 85px;
  }

  &__settings {
    width: 1rem;
    height: 1rem;
    color: $colour-grey;
  }
}
