@import '../../styles/variables-and-helpers';

.Home {
  display: flex;

  &__weather,
  &__right {
    flex: 1 0 auto;
    width: 50vw;
    height: 100vh;
    overflow: auto;
  }

  &__right {
    padding: $page-padding;
  }

  &__today {
    min-height: 100vh;
  }

  &__clock {
    text-align: center;
    font-variant-numeric: tabular-nums;
  }

  &__date {
    color: $colour-text-secondary;
    font-size: 42px;
  }

  &__time {
    font-size: 85px;
  }

  &__footer {
    text-align: right;
  }

  &__settings {
    width: 1rem;
    height: 1rem;
    color: $colour-grey;
  }
}
